# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Uni\GamesSoftwareEngineering\Year1 (Lvl 4)\Digital Technologies\Unix Shell\cygsdk\home\ryanp\project\stairs\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
